<% title "发布#{@comment.category_text}" %>

<div class="gly_bottom_right">
  <div class="gly_right_header">发布文章-<%= @comment.category_text %></div>
<%= render 'form' %>
</div>
<div class="clear"></div>


