<div class="zhuzuok">
广告投放<br/>
本网站相关广告投放欢迎联系客服+86-010-58699057。或发送邮件至Postmaster@crra010.com。<br/>
我们衷心期待与您进行更加密切深入的合作与发展。<br/>
广告投放，详情请下载<%= link_to '附件', guanggao_attachment_path %>。<br/>
</div>


