<div class="zhuzuok">
<ul><li class="neirong2"><strong><font color="#FF6600">客户服务</font></strong></li>
<li class="neirong2">资源再生交易平台</li>
<li class="neirong2">请<font color="#FF6600">致电+86-010-58699057或发送邮件至postmaster@crra010.com</font>给客户服务部留言（热线开放时间：北京时间星期一至五上午9:30至下午17:30）</li>
</ul>
<div class="clear"></div>
</div>


