<div class="zhuzuok">
欢迎阅读资源再生交易平台服务条款协议(下称“本协议”)，您应当在使用服务之前认真阅读本协议全部内容，且对本协议中加粗字体显示的内容，资源再生交易平台督促您应重点阅读。本协议阐述之条款和条件适用于您使用资源再生交易平台中文网站（所涉域名为：www.crra010.com，下同），所提供的在全球企业间(B-TO-B)电子市场(e-market)中进行贸易和交流的各种工具和服务(下称“服务”)。<br/><br/>
<div class="big_zi"><strong>一、 协议内容及签署</strong></div><br/>
1.本协议内容包括协议正文及所有资源再生交易平台已经发布的或将来可能发布的各类规则。所有规则 为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何资源再生交易平台及其关联公司提供的服务（以下简称“服务”）均受本协议约束。以任何方式进入并使用资源再生交易平台中文网站服务即表示您已充分阅读、理解并同意自己已经与资源再生交易平台订立本协议，且您将受本协议的条款和条件(以下简称“条款”) 约束。<br/> 
<br/>
2.您在开始使用资源再生交易平台服务后即默认您已接受全部协议内容，对于协议中以加粗字体显示的内容，您应重点阅读。如您对协议有任何疑问的，应向资源再生交易平台咨询。 <br/>
<br/>
3.您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用资源再生交易平台服务。 <br/>
<br/>
4.资源再生交易平台有权根据需要不时地制订、修改本协议及/或各类规则，如“条款”有任何变更，资源再生交易平台将以网站发布公示的方式进行公告，不再单独通知予您。变更后的协议和规则一经在网站公布后，立即自动生效。如您不同意相关变更，则必须停止使用“服务”。 您继续使用“服务”，则表示您已接受经修订的“条款”。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本协议约束。<br/>
<br/>
<div class="big_zi"><strong>二、 注册</strong></div><br/>
1.注册者资格<br/>
“服务”仅供能够根据相关法律订立具有法律约束力的合约的自然人、法人或其他组织使用。因此，您确认，在您完成注册程序或以其他资源再生交易平台允许的方式实际使用资源再生交易平台服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，请勿使用“服务”，如产生任何法律问题，您及您的监护人应承担因此而导致的一切后果，且资源再生交易平台有权随时注销（永久冻结）您的账户。资源再生交易平台可随时自行全权决定拒绝向任何服务对象提供“服务”。“服务”不会提供给被暂时或永久中止资格的资源再生交易平台会员。<br/>
<br/>
2. 注册义务<br/>
如您在资源再生交易平台注册，您同意：(a) 根据资源再生交易平台刊载的会员资料表格的要求，提供关于您或贵公司的真实、准确、完整和反映当前情况的资料；(b) 维持并及时更新会员资料，使其保持真实、准确、完整和反映当前情况。倘若您提供任何不真实、不准确、不完整或不能反映当前情况的资料，或资源再生交易平台有合理理由确认该等资料不真实、不准确、不完整或不能反映当前情况，资源再生交易平台有权暂停或终止您的注册身份及资料，并拒绝您在目前或将来对“服务”(或其任何部份) 以任何形式使用。如您代表一家公司或其他法律主体在资源再生交易平台登记，则您声明和保证，您有权使该公司或其他法律主体受本协议“条款”约束。<br/> 
<br/>
3. 会员注册名、密码和保密。 <br/>
在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他资源再生交易平台允许的方式实际使用资源再生交易平台服务时，您即成为资源再生交易平台会员（亦称会员），资源再生交易平台根据会员注册名和密码确认您的身份。您须自行负责对您的会员注册名和密码保密，且须对您在会员注册名和密码下发生的所有活动（包括但不限于发布信息资料、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。您同意：(a) 如发现任何人未经授权使用您的会员注册名或密码，或发生违反保密规定的任何其他情况，您会立即通知资源再生交易平台；及 (b) 确保您在每个上网时段结束时，以正确步骤离开网站。资源再生交易平台不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。您理解资源再生交易平台对您的请求采取行动需要合理时间，资源再生交易平台对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。<br/>
<br/>
 4.账户<br/>
在您签署本协议，完成会员注册程序或以其他资源再生交易平台允许的方式实际使用资源再生交易平台服务时，您即成为资源再生交易平台会员（亦称会员），资源再生交易平台会向您提供唯一编号的资源再生交易平台账户（以下亦称账户）。<br/> 
您可以对账户设置会员名和密码。<br/>
通过该会员名密码或与该会员名密码关联的其它您名密码登陆资源再生交易平台。您设置的会员名不得侵犯或涉嫌侵犯他人合法权益。应该是网站审查的部分 不能让客户自行约束。<br/> 
当您的账户设立完成后，您应当在此后90日内使用您的会员名和密码登陆资源再生交易平台。逾期未登录的，资源再生交易平台有权终止向您提供资源再生交易平台服务，注销您的账户。账户注销后，相应的会员名将开放给任意您注册登记使用。<br/> 
资源再生交易平台根据会员注册名和密码确认您的身份。您须自行负责对您的会员注册名和密码保密，且须对您在会员注册名和密码下发生的所有活动（包括但不限于发布信息资料、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。除非有法律规定或司法裁定，且征得资源再生交易平台的同意，否则，账户（会员名）和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。<strong>如果发现任何人不当使用您的账户或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知资源再生交易平台，要求资源再生交易平台暂停相关服务。您理解资源再生交易平台对您的请求采取行动需要合理时间，资源再生交易平台对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。<br/> 
为方便您使用资源再生交易平台服务及资源再生交易平台关联公司或其他组织的服务（以下称其他服务），您同意并授权资源再生交易平台将您在注册、使用资源再生交易平台服务过程中提供、形成的信息传递给向您提供其他服务的资源再生交易平台关联公司或其他组织，或从提供其他服务的资源再生交易平台关联公司或其他组织获取您在注册、使用其他服务期间提供、形成的信息。</strong><br/>
<br/>
5.会员<br/>
在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他资源再生交易平台允许的方式实际使用资源再生交易平台服务时，您即成为资源再生交易平台会员（亦称会员）。<br/>
在注册时，您应当遵守当地法律法规要求，或注册页面的提示准确提供，并及时更新您的资料，以使之真实、及时，完整和准确。<strong>如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，资源再生交易平台有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部资源再生交易平台服务。资源再生交易平台对此不承担任何责任，您将承担因此产生的任何直接或间接支出。<br/>
您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便资源再生交易平台或其他会员与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用资源再生交易平台服务过程中产生任何损失或增加费用的，应由您完全独自承担。</strong><br/>
您在使用资源再生交易平台服务过程中，所产生的应纳税赋，以及一切硬件、软件、服务及其它方面的费用，均由您独自承担。<br/>
<br/>
<div class="big_zi"><strong>三、本网站提供的服务项目</strong></div><br/>
1.资源再生交易平台仅作为信息发布或交易地点。<br/> 
您完全了解资源再生交易平台上的信息系您自行发布，且可能存在风险和瑕疵。资源再生交易平台仅作为您物色交易对象，就货物和服务的交易进行协商，以及获取各类与贸易相关的服务的地点。但是，资源再生交易平台不能控制交易所涉及的物品的质量、安全或合法性，商贸信息的真实性或准确性，以及交易方履行其在贸易协议项下的各项义务的能力。资源再生交易平台不能也不会控制交易各方能否履行协议义务。此外，您应注意到，与外国国民、未成年人或以欺诈手段行事的人进行交易的风险是客观存在的。您应自行谨慎判断确定相关物品及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。<br/> 
<br/>
2.您了解并同意，资源再生交易平台有权应政府部门（包括司法及行政部门）的要求，向其提供您在资源再生交易平台填写的注册信息和交易纪录等必要信息。<strong>如您涉嫌侵犯他人知识产权，则资源再生交易平台亦有权在初步判断涉嫌侵权行为存在的情况下，向当地有关部门提供您必要的身份信息。</strong><br/>
<br/>
3.服务所需要的设备和其他条件<br/> 
您应自行准备接入互联网(INTERNET)的硬件设备和软件工具，包括计算机、调制解调器、有关软件和设置或者其他接入互联网的装置。<br/> 
自行承担接入互联网及与本网站服务有关的其他费用，包括接入互联网的电话线路占用费用、网络服务费用等。<br/>
<br/>
4.无代理关系。<br/> 
您与资源再生交易平台仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇用与被雇用或特许权授予与被授予关系。 <br/>
<br/>
5.通过资源再生交易平台及其关联公司提供的资源再生交易平台服务和其它服务，会员可在资源再生交易平台上发布交易信息、查询商品和服务信息、达成交易意向并进行交易、对其他会员进行评价、参加资源再生交易平台组织的活动以及使用其它信息服务及技术服务。<br/>
<br/>
6.如<strong>您在资源再生交易平台上交易过程中与其他会员发生交易纠纷时，一旦您或其它会员任一方或双方共同提交资源再生交易平台要求调处，则资源再生交易平台有权根据单方判断做出调处决定，您了解并同意接受资源再生交易平台的判断和调处决定。该决定将对您具有法律约束力。</strong><br/>
<br/>
<div class="big_zi"><strong>四、服务使用规范</strong></div><br/>
1.您可以自行在资源再生交易平台上发布信息，提供资料和供买卖的物品，可以自行决定信息的内容和文件的放置结构等，同时您自行承担一切法律后果及责任。网站有权向当事人提出追索及赔偿。<br/> 
<br/>
2. 您的资料和供买卖的物品。<br/> 
a）“您的资料”包括您在注册、交易或列举物品过程中、在任何公开信息场合或通过任何电子邮件形式，向资源再生交易平台或其他您提供的任何资料，包括数据、文本、软件、音乐、声响、照片、图画、影像、词句或其他材料。您应对“您的资料”负全部责任，而资源再生交易平台仅作为您在网上发布和刊登“您的资料”的被动渠道。但是，倘若资源再生交易平台认为“您的资料”可能使资源再生交易平台承担任何法律或道义上的责任，或可能使资源再生交易平台 (全部或部分地) 失去资源再生交易平台的互联网服务供应商或其他供应商的服务，或您未在资源再生交易平台规定的期限内登录或再次登录网站，则资源再生交易平台可自行全权决定对“您的资料”采取资源再生交易平台认为必要或适当的任何行动，包括但不限于删除该类资料。您特此保证，您对提交给资源再生交易平台的“您的资料”拥有全部权利，包括全部版权。您确认，资源再生交易平台没有责任去认定或决定您提交给资源再生交易平台的资料哪些是应当受到保护的，对享有“服务”的其他您使用“您的资料”，资源再生交易平台也不必负责。<br/>
<br/>
b）您同意，“您的资料”和您发布在资源再生交易平台上的任何“物品”（泛指一切可供依法交易的、有形的或无形的、以各种形态存在的某种具体的物品，或某种权利或利益，或某种票据或证券，或某种服务或行为。本协议中“物品”一词均含此义）<br/> 
a. 不会有欺诈成份，与售卖伪造或盗窃无涉； <br/>
b. 不会侵犯任何第三者对该物品享有的物权，或版权、专利、商标、商业秘密或其他知识产权，或隐私权、名誉权等任何权利；<br/> 
c. 不会违反任何法律、法规、条例或规章 (包括但不限于关于规范出口管理、贸易配额、保护消费者、不正当竞争或虚假广告的法律、法规、条例或规章)；<br/> 
d. 不会含有诽谤（包括商业诽谤）、恐吓或骚扰的内容； <br/>
e. 不会含有淫秽、或包含任何儿童色情内容； <br/>
f. 不会含有蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序；<br/> 
g. 不会直接或间接与下述各项货物或服务连接，或包含对下述各项货物或服务的描述：(i) 本协议项下禁止的货物或服务；或 (ii) 您无权连接或包含的货物或服务。此外，您同意不会：(h) 在与任何连锁信件、大量胡乱邮寄的电子邮件、滥发电子邮件或任何复制或多余的信息有关的方面使用“服务”；(i) 未经其他人士同意，利用“服务”收集其他人士的电子邮件地址及其他资料；或 (j) 利用“服务”制作虚假的电子邮件地址，或以其他形式试图在发送人的身份或信息的来源方面误导其他人士。<br/>
<br/>
3.在您网上使用服务过程中，您承诺遵守以下约定：<br/>
<br/>
a) 在使用用户网服务过程中实施的所有行为均遵守国家法律、法规等规范性文件（包括但不限于：《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国计算机信息网络国际联网管理暂行规定》、《中华人民共和国计算机信息系统安全保护条例》、《中华人民共和国电信条例》、《全国人大常委会关于维护互联网安全的决定》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《互联网站从事登载新闻业务管理暂行规定》、《互联网等信息网络传播视听节目管理办法》、《互联网文化管理暂行规定》和国家其他有关法律、法规、行政规章），及用户网各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保您免于因此产生任何损失。<br/>
<br/>
b)您不得上传(Upload)、下载(Download)、储存、发布如下信息或者内容：违反国家规定的政治宣传和 / 或新闻信息；涉及国家秘密和 / 或安全的信息；封建迷信和 / 或淫秽、色情、下流的信息或引诱、教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；防碍互联网运行安全的信息；侵害他人合法权益的信息和 / 或其他有损于社会秩序、社会治安、公共道德的信息或内容。您同时承诺不得为他人发布上述不符合国家规定和 / 或本服务条款约定的信息内容而提供任何便利，包括但不限于设置 URL、BANNER 链接等。<br/>
<br/>
C）不发布国家禁止销售的或限制销售的商品或服务信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的商品或服务信息，不发布违背社会公共利益或公共道德或您认为不适合在用户网上销售的商品或服务信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。<br/> 
d）您承认资源再生交易平台有权根据当地法律法规及相关规定来决定您发布的内容是否构成违反服务条款或者国家的有关规定。您承诺在接到资源再生交易平台的通知后会立即调整您在本网站上的内容，否则资源再生交易平台有权终止本服务条款项下的服务。一旦发现您或者您的客户从事上述活动时，资源再生交易平台有权随时终止服务；因您从事上述活动给资源再生交易平台带来任何损失或者不利影响，您均应承担全部赔偿责任；因您的客户从事上述行为而给资源再生交易平台带来任何损失或不利影响的，您应与其客户承担连带赔偿责任。<br/> 
<br/>
e) 不对用户网上的任何数据作商业性利用，包括但不限于在未经您事先书面同意的情况下，以复制、传播等任何方式使用用户网站上展示的资料。<br/>
<br/>
f) 不使用任何装置、软件或例行程序干预或试图干预用户网的正常运作或正在用户网上进行的任何交易、活动。您不得采取任何将导致不合理的庞大数据负载加诸用户网网络设备的行动。<br/>
<br/>
b) 在与其他会员交易过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。<br/>
d) 不以虚构或歪曲事实的方式不当评价其他会员，不采取不正当方式制造或提高自身的信用度，不采取不正当方式制造或提高（降低）其他会员的信用度；<br/>
<br/>
4.您了解并同意：<br/>
a) <strong>您有权对您是否违反上述承诺做出单方认定，并根据单方认定结果适用规则予以处理或终止向您提供服务，且无须征得您的同意或提前通知予您。</strong><br/>
<br/>
b) <strong>经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者您根据自身的判断，认为您的行为涉嫌违反本协议和/或规则的条款或涉嫌违反法律法规的规定的，则您有权在用户网上公示您的该等涉嫌违法或违约行为及您已对您采取的措施。</strong><br/>
<br/>
c) 对于您在用户网上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，您有权不经通知您即予以删除，且按照规则的规定进行处罚。<br/>
<br/>
d) <strong>对于您在用户网上实施的行为，包括您未在用户网上实施但已经对用户网及其您产生影响的行为，您有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并据此作出相应处罚。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果。</strong><br/>
<br/>
e) 对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保您免于因此产生损失或增加费用。<br/>
<br/>
f) 如您涉嫌违反有关法律或者本协议之规定，使您遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿您因此造成的损失及（或）发生的费用，包括合理的律师费用。<br/>
<br/> 
5．您同意：<br/>
<br/>
a)本服务条款中网站所处的服务器的所有权属于资源再生交易平台。<br/>
<br/>
b)资源再生交易平台可以帮助用户进行日常的数据备份，但不保证完全备份用户网站上的数据，用户应自行备份其网站上的相关数据。用户充分认识到对用户网站数据的备份并非资源再生交易平台的义务，资源再生交易平台亦不对用户网站的数据备份工作承担任何责任。<br/>
<br/>
<div class="big_zi"><strong>五、特别授权</strong></div><br/>
1. 您完全理解并同意不可撤销地授予资源再生交易平台及其关联公司下列权利：<br/>
<br/>
a）对于您提供的资料，您授予资源再生交易平台及其关联公司独家的、全球通用的、永久的、免费的许可使用权利 (并有权在多个层面对该权利进行再授权)，使资源再生交易平台及其关联公司有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示"您的资料"或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将"您的资料"纳入其他作品内。<br/>
<br/>
b）一旦您违反本协议，或与资源再生交易平台签订的其他协议的约定，资源再生交易平台有权以任何方式通知关联公司，要求其对您的权益采取限制措施包括但不限于要求支付宝公司将您帐户内的款项支付给资源再生交易平台指定的对象，要求关联公司中止、终止对您提供部分或全部服务，且在其经营或实际控制的任何网站公示您的违约情况。<br/>
<br/>
c）同样，当您向资源再生交易平台关联公司作出任何形式的承诺，且相关公司已确认您违反了该承诺，则资源再生交易平台有权立即按您的承诺约定的方式对您的账户采取限制措施，包括但不限于中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，资源再生交易平台无须就相关确认与您核对事实，或另行征得您的同意，且资源再生交易平台无须就此限制措施或公示行为向您承担任何的责任。<br/>
<br/>
d）对于您提供的资料及数据信息，您授予资源再生交易平台及其关联公司独家的、全球通用的、永久的、免费的许可使用权利 (并有权在多个层面对该权利进行再授权)。此外，资源再生交易平台及其关联公司有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据（包括但不限于注册资料、交易行为数据及全部展示于资源再生交易平台的各类信息）或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。<br/>
<br/>
2.隐私。<br/>
<br/>
a）尽管有第1条所规定的许可使用权，但基于保护您的隐私是资源再生交易平台的一项基本原则，为此资源再生交易平台还将根据资源再生交易平台的隐私声明使用"您的资料"。资源再生交易平台隐私声明的全部条款属于本协议的一部份，因此，您必须仔细阅读。请注意，您一旦自愿地在资源再生交易平台交易地点披露"您的资料"，该等资料即可能被其他人士获取和使用。<br/>
<br/>
b）资源再生交易平台将在网站公布并不时修订隐私权政策，隐私权政策构成本协议的有效组成部分。<br/>
<br/>
<div class="big_zi"><strong>六、信息发布及交易程序。 （目前为可选择条款）</strong></div><br/>
1. 添加产品描述条目。产品描述是由您提供的在资源再生交易平台上展示的文字描述、图画和/或照片，可以是(a) 对您拥有而您希望出售的产品的描述；或 (b) 对您正寻找的产品的描述。您可在资源再生交易平台发布任一类产品描述，或两种类型同时发布，条件是，您必须将该等产品描述归入正确的类目内。资源再生交易平台不对产品描述的准确性或内容负责。<br/> 
<br/>
2. 就交易进行协商。<br/>   
交易各方通过在资源再生交易平台上明确描述报盘和回盘，进行相互协商。所有各方接纳报盘或回盘将使所涉及的资源再生交易平台您有义务完成交易。除非在特殊情况下，诸如您在您提出报盘后实质性地更改对物品的描述或澄清任何文字输入错误，或您未能证实交易所涉及的您的身份等，报盘和承诺均不得撤回。<br/> 
<br/>
3. 处理交易争议。<br/>   
a）资源再生交易平台不涉及您间因交易而产生的法律关系及法律纠纷，不会且不能牵涉进交易各方的交易当中。倘若您与一名或一名以上您，或与您通过资源再生交易平台获取其服务的第三者服务供应商发生争议，您免除资源再生交易平台 (及资源再生交易平台代理人和雇员) 在因该等争议而引起的，或在任何方面与该等争议有关的不同种类和性质的任何(实际和后果性的) 权利主张、要求和损害赔偿等方面的责任。<br/>
<br/>
b）资源再生交易平台有权受理并调处您与其他您因交易产生的争议，同时有权单方面独立判断其他您对您的投诉及(或)索偿是否成立，若资源再生交易平台判断索偿成立，则您应及时使用自有资金进行偿付，否则资源再生交易平台有权使用您交纳的保证金（如有）或扣减已购资源再生交易平台及其关联公司的产品或服务中未履行部分的费用的相应金额或您在资源再生交易平台所有账户下的其他资金(或权益)等进行相应偿付。资源再生交易平台没有使用自用资金进行偿付的义务，但若进行了该等支付，您应及时赔偿资源再生交易平台的全部损失，否则资源再生交易平台有权通过前述方式抵减相应资金或权益，如仍无法弥补资源再生交易平台损失，则资源再生交易平台保留继续追偿的权利。因资源再生交易平台非司法机构，您完全理解并承认，资源再生交易平台对证据的鉴别能力及对纠纷的处理能力有限，受理贸易争议完全是基于您之委托，不保证争议处理结果符合您的期望，亦不对争议处理结果承担任何责任。资源再生交易平台有权决定是否参与争议的调处。<br/>
<br/>
c） 资源再生交易平台有权通过电子邮件等联系方式向您了解情况，并将所了解的情况通过电子邮件等方式通知对方，您有义务配合资源再生交易平台的工作，否则资源再生交易平台有权做出对您不利的处理结果。<br/>
<br/>
d）经生效法律文书确认您存在违法或违反本协议行为或者资源再生交易平台自行判断您涉嫌存在违法或违反本协议行为的，资源再生交易平台有权在资源再生交易平台中文网站上以网络发布形式公布您的违法行为并做出处罚（包括但不限于限权、终止服务等）。<br/> 
<br/>
4 运用常识。<br/> 
资源再生交易平台不能亦不试图对其他您通过“服务”提供的资料进行控制。就其本质而言，其他您的资料，可能是令人反感的、有害的或不准确的，且在某些情况下可能带有错误的标识说明或以欺诈方式加上标识说明。资源再生交易平台希望您在使用资源再生交易平台时，小心谨慎并运用常识。<br/> 
<br/>
5 .交易系统。<br/> 
a） 不得操纵交易。<br/> 
您同意不利用帮助实现蒙蔽或欺骗意图的同伙(下属的客户或第三方)，操纵与另一交易方所进行的商业谈判的结果。<br/> 
<br/>
b）系统完整性。<br/> 
您同意，您不得使用任何装置、软件或例行程序干预或试图干预资源再生交易平台中文网站的正常运作或正在资源再生交易平台上进行的任何交易。您不得采取对任何将不合理或不合比例的庞大负载加诸资源再生交易平台络结构的行动。您不得向任何第三者披露您的密码，或与任何第三者共用您的密码，或为任何未经批准的目的使用您的密码。<br/> 
<br/>
c） 反馈。<br/> 
您不得采取任何可能损害信息反馈系统的完整性的行动，诸如：利用第二会员身份标识或第三者为您本身留下正面反馈；利用第二会员身份标识或第三者为其他您留下负面反馈 (反馈数据轰炸)；或在您未能履行交易范围以外的某些行动时，留下负面的反馈 (反馈恶意强加)。对于该种行为网站可以进行监督，并且删除。<br/> 
<br/>
d）不作商业性利用。<br/> 
您同意，您不得对任何资料作商业性利用，包括但不限于在未经资源再生交易平台授权高层管理人员事先书面批准的情况下，复制在资源再生交易平台上展示的任何资料并用于商业用途。 <br/>
<br/>
6. 终止或访问限制。<br/>
<br/>
您同意，在资源再生交易平台未向您收费的情况下，资源再生交易平台可自行全权决定以任何理由 (包括但不限于资源再生交易平台认为您已违反本协议的字面意义和精神，或您以不符合本协议的字面意义和精神的方式行事，或您在超过90天的时间内未以您的帐号及密码登录网站) 终止您的“服务”密码、帐户 (或其任何部份) 或您对“服务”的使用，并删除和丢弃您在使用“服务”中提交的 “您的资料”。您同意，在资源再生交易平台向您收费的情况下，资源再生交易平台应基于合理的怀疑且经电子邮件通知的情况下实施上述终止服务的行为。资源再生交易平台同时可自行全权决定，在发出通知或不发出通知的情况下，随时停止提供“服务”或其任何部份。您同意，根据本协议的任何规定终止您使用“服务”之措施可在不发出事先通知的情况下实施，并承认和同意，资源再生交易平台可立即使您的帐户无效，或撤销您的帐户以及在您的帐户内的所有相关资料和档案，和/或禁止您进一步接入该等档案或“服务”。帐号终止后，资源再生交易平台没有义务为您保留原帐号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给您或第三方。此外，您同意，资源再生交易平台不会就终止您接入“服务”而对您或任何第三者承担任何责任。<br/>
<br/>
<div class="big_zi"><strong>七. 收费</strong></div><br/>
1.资源再生交易平台保留在根据第一条通知您后，收取“服务”费用的权利。您因进行交易、向资源再生交易平台获取有偿服务或接触资源再生交易平台服务器而发生的所有应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均由您自行承担。资源再生交易平台保留在无须发出书面通知，仅在资源再生交易平台公示的情况下，暂时或永久地更改或停止部分或全部“服务”的权利。<br/> 
<br/>
2.费用支付<br/>
<br/>
a）您同意按照资源再生交易平台现时有效的服务价格体系支付所有费用；<br/> 
b) 资源再生交易平台保留在用户未按照约定支付全部费用之前不向用户提供服务和 / 或技术支持或者终止上述服务、技术支持的权利。<br/>
<br/>
<div class="big_zi"><strong>八、责任范围和责任限制</strong></div><br/>
1.在不限制其他补救措施的前提下，发生下述任一情况，资源再生交易平台可立即发出警告，暂时中止、永久中止或终止您的会员资格，删除您的任何现有产品信息，以及您在网站上展示的任何其他资料：(i) 您违反本协议；(ii) 资源再生交易平台无法核实或鉴定您向资源再生交易平台提供的任何资料；或 (iii) 资源再生交易平台相信您的行为可能会使您、资源再生交易平台用户或通过资源再生交易平台或资源再生交易平台网站提供服务的第三者服务供应商发生任何法律责任。在不限制任何其他补救措施的前提下，倘若发现您从事涉及资源再生交易平台网站的诈骗活动，资源再生交易平台可暂停或终止您的帐户。<br/>
<br/>
 
2. 服务“按现状”提供。<br/> 
资源再生交易平台会尽一切努力使您在使用资源再生交易平台网站的过程中得到乐趣。遗憾的是，资源再生交易平台不能随时预见到任何技术上的问题或其他困难。该等困难可能会导致数据损失或其他服务中断。为此，您明确理解和同意，您使用“服务”的风险由您自行承担。“服务”以“按现状”和“按可得到”的基础提供。资源再生交易平台明确声明不作出任何种类的所有明示或暗示的保证，包括但不限于关于适销性、适用于某一特定用途和无侵权行为等方面的保证。资源再生交易平台对下述内容不作保证：(i)“服务”会符合您的要求；(ii)“服务”不会中断，且适时、安全和不带任何错误；(iii) 通过使用“服务”而可能获取的结果将是准确或可信赖的；及 (iv) 您通过“服务”而购买或获取的任何产品、服务、资料或其他材料的质量将符合您的预期。通过使用“服务”而下载或以其他形式获取任何材料是由您自行全权决定进行的，且与此有关的风险由您自行承担，对于因您下载任何该等材料而发生的您的电脑系统的任何损毁或任何数据损失，您将自行承担责任。您从资源再生交易平台或通过或从“服务”获取的任何口头或书面意见或资料，均不产生未在本协议内明确载明的任何保证。 <br/>
<br/>
3. 除非法律法规明确要求，或出现以下情况，否则，资源再生交易平台没有义务对所有用户的注册数据、商品（服务）信息、交易行为以及与交易有关的其它事项进行事先审查：<br/>
a) 资源再生交易平台有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形。<br/>
b) 资源再生交易平台有合理的理由认为用户在资源再生交易平台网的行为涉嫌违法或不当。<br/>
<br/>
4. 您明确理解和同意，资源再生交易平台不对因下述任一情况而发生的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿 (无论资源再生交易平台是否已被告知该等损害赔偿的可能性)：(i) 使用或未能使用“服务”；(ii) 因通过或从“服务”购买或获取任何货物、样品、数据、资料或服务，或通过或从“服务”接收任何信息或缔结任何交易所产生的获取替代货物和服务的费用；(iii) 未经批准接入或更改您的传输资料或数据；(iv) 任何第三者对“服务”的声明或关于“服务”的行为；或 (v) 因任何原因而引起的与“服务”有关的任何其他事宜，包括疏忽。 <br/>
<br/>
<strong>5.您了解并同意，资源再生交易平台不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论资源再生交易平台是否已被告知该等损害赔偿的可能性) ：<br/>
a) 使用或未能使用资源再生交易平台服务。<br/>
b) 第三方未经批准的使用您的账户或更改您的数据。<br/>
c) 通过资源再生交易平台网服务购买或获取任何商品、样品、数据、信息或进行交易等行为或替代行为产生的费用及损失。<br/>
d) 您对资源再生交易平台服务的误解。<br/>
e) 任何非因资源再生交易平台的原因而引起的与资源再生交易平台网服务有关的其它损失。</strong><br/>
<br/>
6. 链接。<br/> 
“服务”或第三者均可提供与其他万维网网站或资源的链接。由于资源再生交易平台并不控制该等网站和资源，您承认并同意，资源再生交易平台并不对该等外在网站或资源的可用性负责，且不认可该等网站或资源上或可从该等网站或资源获取的任何内容、宣传、产品、服务或其他材料，也不对其等负责或承担任何责任。您进一步承认和同意，对于任何因使用或信赖从此类网站或资源上获取的此类内容、宣传、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失，资源再生交易平台均不承担责任。<br/> 
<br/>
7.不论在何种情况下，资源再生交易平台均不对由于互联网正常的设备维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。<br/>
<br/>
8. 赔偿。<br/> 
您同意，因您违反本协议或经在此提及而纳入本协议的其他文件，或因您违反了法律或侵害了第三方的权利，而使第三方对资源再生交易平台及其子公司、分公司、董事、职员、代理人提出索赔要求（包括司法费用和其他专业人士的费用），您必须赔偿给资源再生交易平台及其子公司、分公司、董事、职员、代理人，使其等免遭损失。<br/>
<br/>
9. 不可抗力。<br/> 
对于因资源再生交易平台合理控制范围以外的原因，包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使资源再生交易平台延迟或未能履约的，资源再生交易平台不对您承担任何责任。<br/>
<br/>
以下为可选择条款<br/> 
1.您了解资源再生交易平台上的信息系用户自行发布，且可能存在风险和瑕疵。资源再生交易平台仅作为交易地点。资源再生交易平台仅作为您获取物品或服务信息、物色交易对象、就物品和/或服务的交易进行协商及开展交易的场所，但资源再生交易平台无法控制交易所涉及的物品的质量、安全或合法性，商贸信息的真实性或准确性，以及交易各方履行其在贸易协议中各项义务的能力。您应自行谨慎判断确定相关物品及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。<br/>
<br/>
2.资源再生交易平台及其关联公司有权受理您与其他会员因交易产生的争议，并有权单方判断与该争议相关的事实及应适用的规则，进而作出处理决定。该处理决定对您有约束力。如您未在限期内执行处理决定的，则资源再生交易平台及其关联公司有权利（但无义务）直接使用您支付宝账户内的款项，或您向资源再生交易平台及其关联公司交纳的保证金代为支付。您应及时补足保证金并弥补资源再生交易平台及其关联公司的损失，否则资源再生交易平台及其关联公司有权直接抵减您在其它合同项下的权益，并有权继续追偿。<br/>
您理解并同意，资源再生交易平台及其关联公司并非司法机构，仅能以普通人的身份对证据进行鉴别，资源再生交易平台及其关联公司对争议的调处完全是基于您的委托，资源再生交易平台及其关联公司无法保证争议处理结果符合您的期望，也不对争议调处结论承担任何责任。如您因此遭受损失，您同意自行向受益人索偿。<br/>
<br/>
3. 广告和金融服务。<br/> 
您与在“服务”上或通过“服务”物色的刊登广告人士通讯或进行业务往来或参与其推广活动，包括就相关货物或服务付款和交付相关货物或服务，以及与该等业务往来相关的任何其他条款、条件、保证或声明，仅限于在您和该刊登广告人士之间发生。您同意，对于因任何该等业务往来或因在“服务”上出现该等刊登广告人士而发生的任何种类的任何损失或损毁，资源再生交易平台无需负责或承担任何责任。您如打算通过“服务”创设或参与与任何公司、股票行情、投资或证券有关的任何服务，或通过“服务”收取或要求与任何公司、股票行情、投资或证券有关的任何新闻信息、警戒性信息或其他资料，敬请注意，资源再生交易平台不会就通过“服务”传送的任何该等资料的准确性、有用性或可用性、可获利性负责或承担任何责任，且不会对根据该等资料而作出的任何交易或投资决策负责或承担任何责任。<br/>   
<br/>
4. 通知。<br/> 
除非另有明确规定，任何通知应以电子邮件形式发送，(就资源再生交易平台而言) 电子邮件地址为 资源再生交易平台，或 (就您而言) 发送到您在登记过程中向资源再生交易平台提供的电子邮件地址，或有关方指明的该等其他地址。在电子邮件发出二十四 (24) 小时后，通知应被视为已送达，除非发送人被告知相关电子邮件地址已作废。或者，资源再生交易平台可通过邮资预付挂号邮件并要求回执的方式，将通知发到您在登记过程中向资源再生交易平台提供的地址。在该情况下，在付邮当日三 (3) 天后通知被视为已送达。<br/>
<br/>
<div class="big_zi"><strong>九、协议终止</strong></div><br/>
<strong>1.您同意，资源再生交易平台有权在您违反上述规定的情况下，经您的申诉、抗辩不合理的情况下自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或全部资源再生交易平台网服务，暂时冻结或永久冻结（注销）您的账户，且无须为此向您或任何第三方承担任何责任。<br/>
<br/>
2.出现以下情况时，资源再生交易平台有权直接以注销账户的方式终止本协议:<br/>
a) 资源再生交易平台终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为资源再生交易平台用户的；<br/>
b) 您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或资源再生交易平台以其它联系方式通知您更改电子邮件信息，而您在资源再生交易平台通知后三个工作日内仍未更改为有效的电子邮箱的。<br/>
c) 您注册信息中的主要内容不真实或不准确或不及时或不完整。<br/>
d) 本协议（含规则）变更时，您明示并通知资源再生交易平台不愿接受新的服务协议的；<br/>
e) 其它资源再生交易平台认为应当终止服务的情况。</strong><br/>
<br/>
3.您有权向资源再生交易平台要求注销您的账户，经资源再生交易平台审核同意的，资源再生交易平台注销（永久冻结）您的账户，届时，您与资源再生交易平台基于本协议的合同关系即终止。您的账户被注销（永久冻结）后，资源再生交易平台没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。<br/>
<br/>
4.您同意，您与资源再生交易平台的合同关系终止后，资源再生交易平台仍享有下列权利<br/>
a) 继续保存您的注册信息及您使用资源再生交易平台网服务期间的所有交易信息。<br/>
b) 您在使用资源再生交易平台网服务期间存在违法行为或违反本协议和/或规则的行为的，资源再生交易平台仍可依据本协议向您主张权利。<br/>
<br/>
5.资源再生交易平台中止或终止向您提供资源再生交易平台网服务后，对于您在服务中止或终止之前的交易行为依下列原则处理，您应独力处理并完全承担进行以下处理所产生的任何争议、损失或增加的任何费用，并应确保资源再生交易平台免于因此产生任何损失或承担任何费用：<br/>
a) 您在服务中止或终止之前已经上传至资源再生交易平台网的物品尚未交易的，资源再生交易平台有权在中止或终止服务的同时删除此项物品的相关信息；<br/>
b) 您在服务中止或终止之前已经与其他会员达成买卖合同，但合同尚未实际履行的，资源再生交易平台有权删除该买卖合同及其交易物品的相关信息；<br/>
c) 您在服务中止或终止之前已经与其他会员达成买卖合同且已部分履行的，资源再生交易平台可以不删除该项交易，但资源再生交易平台有权在中止或终止服务的同时将相关情形通知您的交易对方。<br/>
<br/>
<div class="big_zi"><strong>十、其他</strong></div><br/>
1. 本协议取代您和资源再生交易平台先前就相同事项订立的任何书面或口头协议。本协议各方面应受中华人民共和国大陆地区法律的管辖。倘若本协议任何规定被裁定为无效或不可强制执行，该项规定应被撤销，而其余规定应予执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。资源再生交易平台未就您或其他人士的某项违约行为采取行动，并不表明资源再生交易平台撤回就任何继后或类似的违约事件采取行动的权利。<br/>
<br/>
2. 诉讼。<br/> 
因本协议或资源再生交易平台服务所引起或与其有关的任何争议应向资源再生交易平台所在当地人民法院提起诉讼，并以中华人民共和国法律为管辖法律。<br/>
</div>
