<div class="zhuzuok">
<span><strong>著作权</strong></span><br/>

本网站著作权属于资源再生交易平台所有。<br/>
<br/>
<span><strong>商 标</strong></span><br/>

资源再生交易平台，中再交，CRRA010以及他们的图标和/或其它本网站中提及的资源再生交易平台的产品，是资源再生交易平台的商标或注册商标。本网站所提到的真实的公司和产品的名称可能是其各自所有者的商标。本网站所例举的公司、机构、产品、人士和事件是虚构的，不应认定或推断为任何实际公司、机构、产品、人士或事件。<br/>

<p>未经本公司明确授予的任何权利均予保留。</p>
</div>
