<div class="zhuzuok">
资源再生交易平台法律声明<br/>
<br/>
版权 <br/>
<br/>
本网站包含之所有内容：文本、图形、LOGO、创意、及软件等之所有权归属资源再生交易平台及本网站的内容/信息提供者，受中国及国际版权法的保护。对本网站上所有内容之复制（意指收集、组合和重新组合），本网站享有排他权并受中国及国际版权法的保护。本网站使用的所有软件的所有权归属于资源再生交易平台或它的软件供应商并受中国及国际版权法的保护。在本网站上的内容和软件可以用作信息获取网上交易及网上拍卖的信息资源，对本网站该等内容的任何其他使用，包括再造、修改、发布、转发、再版、演示或播出被严格禁止。<br/> 
<br/>
商标 <br/>
<br/>
资源再生交易平台.com.cn;crra010.com.cn；crra010.com；crra010.net；；crra010.cn；crraoio.net；crraoio.cn；crraoio.com.cn及其他资源再生交易平台的图形、图片、图表、声音、创意、LOGO和服务名称、标识均受相关法律保护，该等商标、专有名称、标识等不能在任何非属资源再生交易平台的产品或服务上进行容易在客户中引起混淆或引起歧义的使用，或以任何曲解或诋毁资源再生交易平台之形式使用。<br/>
<br/>
网站使用<br/> 
<br/>
资源再生交易平台及其任何组成部分不得被再造、复制、抄袭、交易，或为任何未经资源再生交易平台允许的商业目的所使用。如果资源再生交易平台确定客户行为违法或有损其网站和企业的利益，则资源再生交易平台和其关联企业将保留，包括但不限于拒绝提供服务、冻结会员专有帐户、和/或取消定单的权利。<br/>
<br/>
评论 <br/>
<br/>
资源再生交易平台允许访问客户将其对产品的评论在资源再生交易平台上发表个性化意见。如果您在本网站上发表评论，您即授权资源再生交易平台和他的关联企业在世界范围内的任何媒体上享有非排他，永久，不可更改及完全的许可权利去使用、重新加工、修改、采用、出版、翻译、派生、分发及播出该评论。你同时授权资源再生交易平台和他的关联企业授权使用者可以引用你发表评论时的署名，并如果有，可以附你发表的评论。<br/>
<br/>
链接 <br/>
<br/>
资源再生交易平台上的链接服务可以直接进入其他站点，这些链接的站点不受资源再生交易平台的控制，资源再生交易平台对任何与本站链接网站的内容不负责任。<br/>
<br/>
版权投诉<br/> 
<br/>
资源再生交易平台和他的关联企业尊重他人之知识产权。如果你确认你的作品以某种方式被抄袭，该行为触犯了中国及国际版权法，请向资源再生交易平台做版权投诉。 免责<br/> 
资源再生交易平台对本网站上所有内容包括但不限于网站运营或本网站上的信息、内容、材料或产品，不提供明示或暗示的担保。由所适用法律许可，资源再生交易平台否认所有明示或暗示的担保，包括但不限于为特定目的做的商务暗示担保。资源再生交易平台对任何损失或任何由于使用本网站而引起的损失，包括但不限于直接的，间接的，偶然的、惩罚性的和引发的损失，不承担责任。<br/>
操作规则 <br/>
下面的条款和前面所述的条款均适用于本网站上的论坛，讨论组，聊天组，公告板和任何在网站上发生有相互影响作用区域的行为。网上用户使用、进入或参与上述区域或网站上的任何其他具相互影响作用区域，则表示同意所有这些条款。您参与的在线沟通是实时发生的，没有经过任何来自本网站的编辑、压缩、或任何其他形式的控制。本网站不能也没有甄别所有网站用户提供的内容。但本网站保留对本网站上内容的监控权，并对本网站认为具有危害性，引起争议性的或违反本操作规则的其他内容进行删除的权利。为了提供满足本网站用户需求的高价值信息的服务，并避免本网站用户遭受因对他人权利的不实、恶意攻击或其他有害陈述而引起的损失，本网站有必要建立下列操作规则以避免本网站之被滥用：<br/>
　　当您使用本网站服务时，您不可以：<br/>
　　1） 粘贴或传播任何非法的，具威胁性的，诽谤性的，贬损的，报复的、亵渎的或任何其他法律禁止的信息，包括但不限于传播任何煽动性鼓励犯罪的，或违反公民义务或任何其他违反地方法规、国家法律、法规或国际法律、惯例或公约的内容。<br/> 
　　2） 粘贴或传播任何散布任何他人的私人事件，粘贴或传播带有病毒，或任何带有贬损或损害性特征的内容；<br/>
　　3） 粘贴或传播任何可能侵害其他人财`产权利的数据、图形或程序，包括以非 法形式使用未经注册的版权文本、图形或程序，商业秘密及其他保密信息、 商标、服务标识等；<br/>
　　4） 以任何形式干扰本网站的其他用户。 <br/>
<br/>
适用法律<br/>
资源再生交易平台（www.crra010.com、www.crra010.com.cn）由资源再生交易平台运营和控制，适用中华人民共和国法律。我们保留随时更改我们的网站和上述免责及条款的权利。<br/>
</div>
