<% title "编辑客户" %>

<div class="gly_bottom_right">
  <div class="gly_right_header">编辑客户</div>
  <%= render 'form' %>
</div>
<div class="clear"></div>

<script text="type/javascript">
  $(function(){
    $("#customer_list").addClass("ht_dianji2")
  })
</script>
