<% title "添加客户" %>
<div class="gly_bottom_right">
  <div class="gly_right_header">添加客户</div>
  <%= render 'form' %>
</div>
<div class="clear"></div>

<script text="type/javascript">
  $(function(){
    $("#new_customer").addClass("ht_dianji2")
  })
</script>
    

