<% title "添加友情链接" %>

<div class="gly_bottom_right">
  <div class="gly_right_header">添加友情链接</div>
  <%= render 'form' %>
</div>
<div class="clear"></div>

<script text="type/javascript">
  $(function(){
    $("#left_new_link").addClass("ht_dianji")
  })
</script>

