<% title "添加报价" %>

<div class="gly_bottom_right">
  <div class="gly_right_header">添加报价</div>
  <div class="ht_bot">
    <div class="fbxx_top">添加报价（提示：带<font color="#FF0000">*</font>为必填项）</div>
    <%= render 'form' %>
  </div>
</div>
<div class="clear"></div>

<script text="type/javascript">
  $(function(){
    $("#new_company_price").addClass("ht_dianji")
  })
</script>
