<div class="gt_right">
  <div class="gt_right_k">
    <div class="gt_right_bt"><span class="gt_right_btzi">公司介绍</span><span class="gt_more"></span></div>
    <div class="gt_right_bot">
      <ul>
        <li><%= @user.desc %></li>
      </ul>
    </div>
  </div>
</div>
