<%= title "编辑供求信息" %>

<div class="gly_bottom_right">
  <div class="gly_right_header">编辑供求信息</div>
  <div class="fbxx_imt">
    <strong>重要提醒：</strong>请您务必确认您所发布的信息真实、合法、准确、及时，未侵犯他人合法权利，以免引致不必要的纠纷!
  </div>
  <%= render "form" %>
</div>
<div class="clear"></div>

<script text="type/javascript">
  $(function(){
    $("#transactions").addClass("ht_dianji")
  })
</script>

