<div class="gt_bottom">
<ul>
  <% if nil %>
  <li>浙江湖洲南浔区东迁镇 (访问量：13952)</li>
<% end %>
<li>技术支持：资源再生交易平台</li>
<% if nil %>
  <li class="gt_anniu5"><a href="#">管理员入口</a></li>
<% end %>
</ul>
<div class="clear"></div>
</div>
